1) The values are 'hello', -87.8 and 6 while the expressions are * , - , / , +

2) Strings can be a character or group of characters coming together to form a 
word which are normally enclosed in double or single quotation whereas a 
variable is memory location where values like strings and integers can be stored.

3) Three major data types are String, Float and Integers. 
* A String can be a character or group of characters enclosesd in quotations.
* A Float is a numeric value with decimals
* Integers are all the values on the number line.

4) An Expression is made up of operators and operands. The expressions with 
the help of these operators and operands produces some other value. 

Example: 2+3 = 5 

Here 2+3 is an expression, '+' is an operator and 5 is output value of the operation

5) Here, spam = 10 is a statement because we're declring a variable here and 
not getting a value as an output. As mentioned in the above cell that an expression
produces a value as an output.

6) The variable "bacon" will still contain 22 because
'bacon + 1' is not assigned to the 'bacon' variable so it stays the same

7) They're both going to output the same values  'spamspamspam' and 'spamspamspam'

8) Because a group of letters can be used as a varible but a numerical value cannot

9) The 'int()', 'str()' and 'float()' functions can be used to get integer, float
string version of a value

10) 'I have eaten' + 99 + 'burritos' will throw an error because we're trying to
add an integer value to a string which is not possible. To fix this we need to convert
'99' into a string using str() function. Example: 'I have eaten' + str(99) + 'burritos'